body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;
}
main,
body > header  {    /* Color for the header */
    background-color: #F4F2ED; 
}

body > header > ul {   /* Main menu is just a flexbox container */
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 auto;
    padding: 15px 0;
    max-width: 1440px;
    border-bottom: 2px solid #CACACA;
}

body > header > ul > li > a,
body > header > ul > li{    /* All menu boxes flex at the same rate and initially have the same size */
    height: 10vh; 
    min-height: 75px;
}

body > header > ul > li:first-child > a > img{  /* Scale logo */
    min-width: 100px;     
    max-width: min(100%,1440px);
    height: 100%;
    object-fit: contain;
} 
body > header > ul > li:nth-child(1) > a {
    flex-shrink: 1;
}

body > header >  ul > li:nth-child(2)  {  /* Make the search bar twice as long as the other options */
    flex-grow: 1;
}

body > header >  ul > li:nth-child(5),
body > header >  ul > li:nth-child(4),
body > header >  ul > li:nth-child(3)  {  /* Make the search bar twice as long as the other options */
    flex: none;
}

body > header >  ul > li:nth-child(2) > input {  /* Make magnifying glass icon appear inside the input box */
    border-radius: 10px;
    border: 2px solid #0A3641;
    padding: 15px 20px; 
    background-color: white; 
    background-image: url('../assets/Iconos/Magnifying Glass Icon.svg');  
    background-repeat: no-repeat;
    background-position: 96% 50%;
    font-size: 0.875rem; 
    width: 100%; 
}
body > header >  ul > li:nth-child(2) > input::placeholder {
     font-size: 0.75rem;
}

body > header >  ul > li:nth-child(2) > div {   /* Basic styling for the texts inside the boxes in the main menu */
    font-size: min(0.875rem,0.9vw);
    line-height: 130%;
    font-family: Inter;
    color: #0a3641;
    text-align: left;
}
body > header >  ul > li:nth-child(3) > div p,
body > header >  ul > li:nth-child(4) > div p,
body > header >  ul > li:nth-child(5) > div p{  /* Remove padding and margins from paragraph tags */
    margin:0;
    padding: 0;
}
body > header > ul > li:nth-child(1) > a,
body > header > ul > li:nth-child(1),
body > header > ul > li:nth-child(2){  /* Center and align all icons inside the boxes in the main menu */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

body > header > ul > li:nth-child(2){
    cursor: pointer;
} 

body > main > section:nth-child(9),
body > header > ul > li:nth-child(5)> div{ /* Position relative is required to make the quantity appear above the shopping cart */
    position: relative;
}
body > header > ul > li:nth-child(5)> div > span{ /* Positions absolutely the quantity "2" above the shopping cart icon */
    position: absolute;
    top: -20px; /* Adjust to position vertically */
    right: 18px; /* Adjust to position horizontally */
    background-color: red;
    color: white;
    font-size: 1rem;
    padding: 2px 6px;
    border-radius: 50%; /* Makes it a circle */
    line-height: 1; /* Ensures text is vertically centered */
    text-align: center;
}
body > footer > ul,
body > header > nav > ul{   /* The nav bar and the footer are just flexboxes */
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    list-style: none;
}
body > footer > ul > li,
body > header > nav > ul > li{  
    flex:auto;
    text-align: center;
}
body > header > nav > ul > li > a{   /* Font for the nav bar */
    font-size: 1.25rem;
    font-family: Inter;
    color: #0a3641;
    cursor: pointer;
    text-decoration: none;
    line-height: 3;
    font-weight: bold;
    display: block;
}
body > header > nav > ul > li:hover{   /* Highlight nav bar options */
    background-color: white;
}



@media screen and (max-width: 800px) {  /* styles for mobile devices */
 
    body > header > nav > ul {
        display: block;
        border-top: 2px solid #CACACA;
    }
    body > footer > ul{
        display: block;
    }
    body > header > nav > ul > li{  
        text-align: left;
        padding-left: 1rem;
    }
    body > header >  ul > li:nth-child(2) > div p{  
        display: none;
    } 
}

body > header > ul > li:nth-child(2) > div{
    margin-right: 1rem;
}


main{
    flex-grow: 1;
}


body > section:first-of-type,
body > footer {   /* styles for the footer */
    background-color: #C7370F;
}
header,main,
body > footer,
body > main > section:nth-child(2){
    max-width: 1440px;
    width:100%;
    margin:0 auto;
}


body > footer > ul > li> a {   /* styles for the footer */
    cursor: pointer;
    text-decoration: none;
    display: block;
    font-size: 0.75rem;
    font-family: Inter;
    color: #fff;
    line-height: 4;
}

body > footer > div{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px 0;
    max-width: 1440px;
    flex-wrap: wrap;
    border-top: 2px solid #CACACA;
}

body > footer > div > ul {   /* styles for the social networks */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5rem;
    list-style: none;
    padding-left: 40px;
}
body > footer > div > ul:last-of-type {   /* styles for the credit cards */
    justify-content: flex-end;
    padding-right: 40px;
}

body > footer > div > img{
    max-width: min(100%,1440px);
    height: auto;
    margin: 0 auto;
    display:block; 
    position: relative;
    margin: 2rem auto;
    max-height: 300px; 
}


body > footer > div > img{
    margin: 2rem auto;
    max-height: 300px; 
}

body > footer > div:first-of-type {
    background-color: #F4F2ED;
}


body > header > ul > li:nth-child(5) > div > p{
    margin-right: 5px;
}

body > main {
    background-color: white;
}

body > footer > div:nth-child(3) > ul:nth-child(1) > li:nth-child(1) > img,
body > footer > div:nth-child(3) > ul:nth-child(1) > li:nth-child(2) > img,
body > footer > div:nth-child(3) > ul:nth-child(1) > li:nth-child(3) > img,
body > footer > div:nth-child(3) > ul:nth-child(1) > li:nth-child(4) > img,
body > footer > div:nth-child(3) > ul:nth-child(2) > li:nth-child(1) > img,
body > footer > div:nth-child(3) > ul:nth-child(2) > li:nth-child(2) > img,
body > footer > div:nth-child(3) > ul:nth-child(2) > li:nth-child(3) > img,
body > footer > div:nth-child(3) > ul:nth-child(2) > li:nth-child(4) > img{
    max-width: min(100%,1440px);
    height: auto;
    margin: 0 auto;
    display:block; 
}


main > section{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap:35px;
}

.card{
    display: grid;
    grid-template-columns: auto 1fr auto;    
    justify-content: space-between;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
}

/* .wrapper > :nth-child(3){
    border-bottom: 1px solid #C0C0C0;
} */

.wrapper{
    display: grid;
    grid-template-columns: 1fr ;
    /* grid-template-rows: 54px 120px 48px 168px; */
    width: 80%;
    margin: 0 auto;
    margin-bottom: 400px;
}

@media screen and (max-width: 1023px){
    .wrapper{
        width: 95%;
        grid-template-columns: 100%;
        /* grid-template-rows: 65px 120px 48px 168px 65px 120px 48px 168px; */
    }
}

.wrapper > .card:nth-child(2)
{
    grid-row: span 2;
}

.card > img:first-child{
    max-height: 96px;
    width: auto;
    object-fit: contain;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;   
}

.title{    
    font-size: 1.5rem;
    font-family: Inter;
    font-weight: bold;
    color: #000;
    text-align: center;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    grid-row: 1 / 2;
    display:grid;
    align-items: center;

}

.price_style{
    font-size: 1rem;
    font-family: Inter;
    color: #000;
    text-align: left;
    font-weight: 600;
}
.info_style{
    font-size: 0.875rem;
    font-family: Inter;
    color: #000;
    text-align: left;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    gap:1rem;

}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2px;
    padding: 20px;
}
h1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    color: #000;
    font-family: Inter;
    margin:0;
}
main > section > img{
    width: 192px;
    height: 192px;
    object-fit: contain;
    margin-top: 75px;
}

.to-pay-CTA{
    width: 115%;
    border-radius: 10px;
    background-color: #c7370f;
    border: 1px solid #0a3641;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    gap: 20px;
    opacity: 0.99;
    cursor: pointer;
    text-align: left;
    font-size: 2rem;
    color: #fff;
    font-family: Inter;
    font-weight: bold;
    height: 4.5rem;
    margin-top: 2rem;
    justify-self: center;

}

@media screen and (max-width: 1023px){
    .to-pay-CTA{
        /* grid-row: 6 / 7; */
        width: 100%;
        font-size: 1.5rem;
    }
    h1{
        font-size: 2rem;
    }
    .title{
        font-size: 1rem;
    }

}
@media screen and (max-width: 425px){
    h1{
        font-size: 1.5rem;
    }
}

.last-card{
    border-bottom: 1px solid #C0C0C0;
}

.info-row {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.subtotal-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}